

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.cl-navbar {
    max-width: unset !important;
    width: 100% !important;
}
.cl-navbarButton__members {
    display: none;
}
.cl-organizationSwitcherPreviewButton {
    margin-top: 10px;
}
.cl-organizationProfile-root .cl-cardBox {
    width: 100vw !important;
    grid-template-columns: 1fr 5fr !important;
}
.cl-userPreview {
    max-width: 30vw !important;
}
.hide {
    display: none !important;
}

input:focus {
    box-shadow: 0 0 0 0.2rem #fbcfe8;
    outline: none !important;
    border: none;
}

input:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem #fbcfe8;
    border: none;


}

.no-input-border input {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.cl-avatarBox {
    width: 3rem;
    height: 3rem;
}


/* This styles the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Adjust scrollbar width */
    height: 12px; /* Adjust scrollbar height for horizontal scrollbars */
}

/* This styles the scrollbar thumb (the part that you drag) */
::-webkit-scrollbar-thumb {
    background: #FF47A0; /* Scrollbar color */
    border-radius: 6px; /* Scrollbar corner radius */
    padding: 1px;
}

/* (Optional) This styles the scrollbar track */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Scrollbar track color */
    border-radius: 6px; /* Scrollbar track corner radius */
}
